<app-title titulo="Defer triggers" />

<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2" />

  @defer (on interaction) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <p>On interaction</p>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div class="w-full h-20 bg-purple-500">Click here</div>
  }
</section>

<section>
  <hr class="my-2" />
  <button
    #btnInteraction
    class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white my-2"
  >
    Click me
  </button>

  @defer (on interaction(btnInteraction)) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <p>On Click button</p>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div class="w-full h-20 bg-purple-500">Placeholder div</div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on hover) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <p>on Hover</p>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div class="w-full h-20 bg-purple-500">Hover this</div>
  }
</section>

<section>
  <hr class="my-2" />

  @defer (on hover(btnInteraction)) {
  <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
    <p>on Hover button</p>
  </app-heavy-loaders-fast>
  } @placeholder {
  <div class="w-full h-20 bg-purple-500">Hover the button</div>
  }
</section>
